*{ box-sizing: border-box; }

body, html{ margin: 0; padding: 0; overflow-x: hidden !important; }

@font-face
{
	font-family: 'Beyond';
	src: url('../fonts/beyond_the_mountains.otf')  format('truetype'),
		 url('../fonts/beyond_the_mountains.ttf')  format('opentype');
}

.container-fluid{ padding: 0; }
.background{ width: 100%; height: auto; background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/background.jpg); background-attachment: fixed; padding: 0; }

nav{ width: 100%; height: 100px; font-family: 'ZCOOL XiaoWei', Arial, sans-serif; }
nav .brand img{ width: 190px; padding-left: 50px; transition: 0.5s; }
nav .list ul{ list-style: none; }
nav .list ul li{ display: inline-block; padding: 40px 0 0 40px; transition: 0.5s; }
nav .list ul li:nth-child(4){ padding-right: 90px; }
nav .list ul li a{ color: #fff; text-decoration: none; transition: 0.4s; padding-left: 4px; }
nav .list ul li a:hover{ color: #ff512f; border-left: 2px solid #ff512f; }
nav.black{ background-color: rgba(0,0,0,0.8); height: 80px; z-index: 9999; }
nav.black .brand img{ width: 140px; }
nav.black .list ul li{ padding-top: 30px; }

.left-part, .right-part{ padding-top: 120px; }

.text-part{ padding: 190px 0 0 0; font-family: 'ZCOOL XiaoWei', serif; }
.text-part h3{ font-size: 27px; color: #ff512f !important; }
.text-part h1{ font-size: 64px; font-family: 'Beyond', serif; padding: 10px 0 20px 0; }
.text-part .hr1, .text-part .hr2{ width: 90%; height: 1px; background-color: #ff512f; }
.text-part p{ font-size: 22px; text-transform: uppercase; letter-spacing: 2px; padding: 15px 0 15px 0; } 
.text-part a{ text-decoration: none; color: #fff; font-size: 20px; border: 1px solid #fff; padding: 6px 20px 9px 20px; transition: 0.5s; }
.text-part a:hover{ border-color: #ff512f; color: #ff512f; }
.text-part .bottom img{ padding: 100px 0 0 0; }

.our_story{ background: url(../img/background2.jpg); padding: 130px 0 70px 0; }
.our_story .story{ border: 12px solid #000; padding: 110px 80px; text-align: center; }
.our_story .story h3{ color: #ff512f; font-size: 26px; font-family: 'Beyond', sans-serif; padding-bottom: 8px; }
.our_story .story h1{ color: #000; font-size: 40px; font-family: 'ZCOOL XiaoWei', serif; font-weight: 700; }
.our_story .story .hr3{ width: 25%; height: 2px; background-color: #403b4a; }
.our_story .story p{ font-size: 17px; color: #777; font-family: 'Montserrat-UltraLight', Arial, sans-serif; line-height: 25px; padding-top: 30px; }

.menu{ padding: 70px 30px 50px 30px; }
.menu1, .menu2, .menu3, .menu4{ width: 100%; height: 200px; padding-top: 20px; }
.menu-text{ padding: 50px 65px; }
.menu-text h2{ font-family: 'Beyond', sans-serif; font-size: 75px; color: #ff512f; }
.menu-text h4{ font-family: 'ZCOOL XiaoWei', serif; font-size: 26px; font-weight: 700; color: #000; padding-top: 5px; }
.menu-text p{ font-family: 'Montserrat-UltraLight', Arial, sans-serif; font-size: 17px; font-weight: 500; color: #777; padding-top: 15px; text-align: center; }
.menu-text .hr4{ width: 7%; height: 1px; background-color: #403b4a; }
.menu-text p a{ font-family: 'ZCOOL XiaoWei', serif; font-size: 17px; font-weight: 700; color: #ff512f; text-decoration: none; padding-bottom: 5px; border-bottom: 1px solid #ff512f; transition: 0.4s; }
.menu-text p a:hover{ color: #403b4a; border-bottom-color: #403b4a; }

.services{ background: url(../img/services.jpg) 100%; background-repeat: repeat; background-attachment: fixed;  text-align: center; padding: 80px 50px; }
.services h3{ font-size: 23px; font-family: 'Beyond', sans-serif; color: #ff512f; }
.services h1{ color: #fff; font-size: 44px; font-weight: 700; font-family: 'ZCOOL XiaoWei', serif; padding-top: 5px; }
.services .hr8{ width: 3%; height: 1px; background-color: #ff512f; }
.boxes{ padding-top: 30px; }
.boxes .col-md-4{ flex: 0 0 29%; max-width: 29%; }
.boxes .box1, .boxes .box2, .boxes .box3{ border: 1px solid #fff; padding: 20px 40px; background-color: rgba(255,255,255,0.9); border-radius: 8px; transition: 0.6s; }
.box1:hover, .box2:hover, .box3:hover{ background-color: rgba(0,0,0,0.6); cursor: default; border-color: rgba(0,0,0,0.6); transform: scale(1.03); }
.box1:hover > .fa, .box2:hover > .fa, .box3:hover > .fa{ background-color: #fff; color: #ff512f; border-color: #fff; }
.box1:hover > h3, .box2:hover > h3, .box3:hover > h3{ color: #ff512f; }
.box1:hover > p, .box2:hover > p, .box3:hover > p{ color: #fff; }
.boxes i{ font-size: 25px; color: #fff; border: 1px solid #ff512f; padding: 10px; border-radius: 50%; background-color: #ff512f; transition: 0.6s; }
.boxes h3{ font-size: 23px; font-weight: 600; font-family: 'ZCOOL XiaoWei', sans-serif; padding-top: 30px; color: #000; padding-bottom: 15px; }
.boxes p{ font-size: 16px; font-weight: 500; letter-spacing: 0.3px; color: #333; text-align: justify-all; }

.carousel { padding: 0 10px 30px 10px; margin-top: 60px; }
.carousel ol{ left: 50%; bottom: 35px !important; } 
.carousel ol li{ background: #777 !important; width: 8px; height: 5px; }
.carousel ol .active{ background: #ff512f !important; }
.car-text{ padding: 50px 55px; }
.car-text h3{ font-family: 'Beyond', sans-serif; font-size: 30px; color: #ff512f; padding-bottom: 15px; }
.car-text h2{ font-family: 'ZCOOL XiaoWei', sans-serif; font-size: 30px; font-weight: 500; color: #000; }
.car-text .hr7{ width: 7%; height: 1px; background-color: #403b4a; }
.car-text p{ font-family: 'Montserrat-UltraLight', sans-serif; font-size: 16px; color: #777; margin-top: 25px; letter-spacing: 1px; text-align: justify-all; }
.car-text p a{ text-decoration: none; color: #ff512f; padding-bottom: 4px; border-bottom: 1px solid #ff512f; transition: 0.6s; }
.car-text p a:hover{ color: #403b4a; border-bottom-color: #403b4a; }

.counter-part{ width: 100%; margin-top: 30px; background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/background.jpg); padding: 60px 0; font-family: 'ZCOOL XiaoWei', sans-serif; }
.counter-part i{ font-size: 35px !important; color: #ff512f; border: 1px solid #ff512f; padding: 15px; border-radius: 50%; }
.counter-part p span{ font-size: 55px; }
.counter-part p{ font-size: 23px; margin: 0; color: #fff; }
.counter-part p:nth-child(2){ padding-top: 20px; }

.reservation{ padding: 60px 10px; }
.booking{ padding: 50px 30px; }
.booking h3{ font-size: 26px; font-family: 'Beyond', sans-serif; color: #ff512f; }
.booking h2{ font-size: 30px; font-weight: 600; padding-top: 10px; font-family: 'ZCOOL XiaoWei', sans-serif; text-transform: uppercase; }
.booking .hr9{ width: 10%; height: 1px; background-color: #403b4a; }
.booking input{ width: 100%; padding: 8px 10px; margin-bottom: 10px; border: 1px solid #777; outline: none; }
.booking input:nth-child(1){ margin-top: 20px; }
.booking input::placeholder{ font-size: 16px; font-family: 'Montserrat-UltraLight', sans-serif; }
.booking button{ width: 100%; background-color: #403b4a !important; border-color: #403b4a !important; padding: 10px 0; border-radius: 0; transition: 0.5s; }
.booking button:hover{ cursor: pointer; background-color: #ff512f !important; border-color: #ff512f !important; }

.footer{ background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/background.jpg); color: #999; }
.footer .upper-part img{ width: 250px; }
.footer .upper-part p{ font-size: 17px; font-weight: 500; line-height: 15px; letter-spacing: 0.8px; font-family: 'ZCOOL XiaoWei', sans-serif; }
.footer .upper-part p.change-color{ color: #ff512f; }

.footer .middle-part{ padding: 10px 0; }
.footer .middle-part a i{ font-size: 17px; border: 1px solid #999; padding: 7px; border-radius: 50%; margin-left: 15px; color: #fff; transition: 0.3s; }
.footer .middle-part .fa-facebook-f{ padding: 7px 12px; }
.footer .middle-part .fa-instagram{ padding: 7px 9px; }
.footer .middle-part a i:hover{ color: #ff512f; border-color: #ff512f; }
.footer .hr10{ width: 100%; height: 0.4px; background-color: #999; }

.footer .copyright p{ font-size: 16px; padding: 10px 15px; }
.footer .bottom-list ul{ list-style: none; padding: 10px 15px; float: right; }
.footer .bottom-list ul li{ display: inline-block; padding-left: 25px; }
.footer .bottom-list ul li:nth-child(5){ padding-right: 50px; }
.footer .bottom-list ul li a{ color: #999; text-transform: uppercase; text-decoration: none; transition: 0.5s; }
.footer .bottom-list ul li a:hover{ color: #ff512f; }