*{ box-sizing: border-box; }

body, html{ margin: 0; padding: 0; overflow-x: hidden !important; }

@font-face
{
	font-family: 'Beyond';
	src: url('../fonts/beyond_the_mountains.otf')  format('truetype'),
		 url('../fonts/beyond_the_mountains.ttf')  format('opentype');
}

.container-fluid{ padding: 0; }
.background{ width: 100%; height: auto; background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/background.jpg); background-attachment: fixed; padding: 0; }

nav{ width: 100%; height: auto; font-family: 'ZCOOL XiaoWei', Arial, sans-serif; }
nav .brand img{ width: 190px; padding-left: 50px; transition: 0.5s; }
nav .list ul{ list-style: none; float: right; }
nav .list ul li{ display: inline-block; padding: 40px 0 0 40px; transition: 0.5s; }
nav .list ul li:nth-child(4){ padding-right: 90px; }
nav .list ul li a{ color: #fff; text-decoration: none; transition: 0.4s; padding-left: 4px; }
nav .list ul li a:hover{ color: #ff512f; border-left: 2px solid #ff512f; }
nav.black{ background-color: rgba(0,0,0,0.8); height: 80px; }
nav.black .brand img{ width: 140px; }
nav.black .list ul li{ padding-top: 30px; }

.upper-part{ padding-top: 5px; padding-bottom: 20px; }
.text-part{ padding-top: 230px; font-family: 'ZCOOL XiaoWei', Arial, sans-serif; }
.text-part h3{ font-size: 45px; font-family: 'Beyond', sans-serif; color: #ff512f; }
.text-part h1{ font-size: 45px; text-transform: uppercase; padding-top: 10px; letter-spacing: 3px; font-weight: 600; padding-bottom: 30px; color: #fff; }
.text-part a{ font-size: 16px; color: #fff; border: 1px solid #ff512f; padding: 13px 18px; text-decoration: none; text-transform: uppercase; letter-spacing: 1px; background-color: #ff512f; transition: 0.5s; }
.text-part a:hover{ background-color: #262626; border-color: #262626; }
.text-part p.star{ padding: 30px 0 5px 0; color: #999; letter-spacing: 2px; font-size: 30px; }
.text-part p{ color: #fff; font-size: 20px; margin: 0; }

.img-part{ padding-top: 120px; }

.menu{ padding: 80px 50px 50px 50px; font-family: 'ZCOOL XiaoWei', Arial, sans-serif; }
.starter h3{ font-size: 25px; color: #ff512f; font-family: 'Beyond', sans-serif; }
.starter h1{ font-size: 40px; text-transform: uppercase; font-weight: 600; padding-top: 5px; color: #262626; }
.starter .hr1{ width: 5%; height: 1px; background-color: #ff512f; }
.starter p{ font-size: 17px; }

.soups{ padding-top: 50px; }
.soups h2{ font-size: 27px; font-weight: 600; }
.soups .hr2{ width: 5%; height: 1px; background-color: #ff512f; margin-top: 0; }
.soup-1{ margin-top: 35px; padding: 25px 15px 10px 20px; color: #fff; background: url(../img/tomato-soup.jpg); background-size: cover; transition: 0.5s; }
.soup-2{ margin-top: 35px; padding: 25px 15px 10px 20px; color: #fff; background: url(../img/mushroom-soup.jpg); background-size: cover; transition: 0.5s; }
.soup-1 .soup-text, .soup-2 .soup-text{ opacity: 0; transition: 0.5s; }
.soup-1:hover{ cursor: pointer; background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/tomato-soup.jpg) 50%; }
.soup-2:hover{ cursor: pointer; background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/mushroom-soup.jpg) 50%; }
.soup-1:hover > .soup-text, .soup-2:hover > .soup-text{ opacity: 1; }

.salads{ padding-top: 50px; }
.salads h2{ font-size: 27px; font-weight: 600; }
.salads .hr3{ width: 5%; height: 1px; background-color: #ff512f; margin-top: 0; }
.salad-1{ margin-top: 35px; padding: 25px 15px 10px 20px; color: #fff; background: url(../img/Cobb-Salad.jpg); background-size: cover; transition: 0.5s; }
.salad-2{ margin-top: 35px; padding: 25px 15px 10px 20px; color: #fff; background: url(../img/waldorf-salad.jpg); background-size: cover; transition: 0.5s; }
.salad-1 .salad-text, .salad-2 .salad-text{ opacity: 0; transition: 0.5s; }
.salad-1:hover{ cursor: pointer; background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/Cobb-Salad.jpg) 50%; }
.salad-2:hover{ cursor: pointer; background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/waldorf-salad.jpg) 50%; }
.salad-1:hover > .salad-text, .salad-2:hover > .salad-text{ opacity: 1; }

.main-dish{ padding: 130px 0 30px 0; }
.main-dish h3{ font-size: 25px; color: #ff512f; font-family: 'Beyond', sans-serif; }
.main-dish h1{ font-size: 40px; text-transform: uppercase; font-weight: 600; padding-top: 5px; color: #262626; }
.main-dish .hr4{ width: 5%; height: 1px; background-color: #ff512f; }
.main-dish .col-md-4{ flex: 0 0 30%; max-width: 30%; }

.box-1{ margin-top: 35px; padding: 80px 30px; color: #fff; background: url(../img/Grilled-Chicken-Kabobs.jpg); background-size: cover; transition: 0.5s; }
.box-2{ margin-top: 35px; padding: 80px 30px; color: #fff; background: url(../img/bbq.jpg); background-size: cover; transition: 0.5s; }
.box-3{ margin-top: 35px; padding: 80px 30px; color: #fff; background: url(../img/fried-chicken.jpeg); background-size: cover; transition: 0.5s; }
.box-1 .box-1-text, .box-2 .box-2-text, .box-3 .box-3-text{ opacity: 0; transition: 0.5s; }
.box-1:hover{ cursor: pointer; background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/Grilled-Chicken-Kabobs.jpg) 50%; }
.box-2:hover{ cursor: pointer; background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/bbq.jpg) 50%; }
.box-3:hover{ cursor: pointer; background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/fried-chicken.jpeg) 50%; }
.box-1:hover > .box-1-text, .box-2:hover > .box-2-text, .box-3:hover > .box-3-text{ opacity: 1; }

.dessert-top{ padding-top: 60px; }	

.desserts{ padding: 90px 0 30px 0; }
.desserts h3{ font-size: 25px; color: #ff512f; font-family: 'Beyond', sans-serif; }
.desserts h1{ font-size: 40px; text-transform: uppercase; font-weight: 600; padding-top: 5px; color: #262626; }
.desserts .hr5{ width: 5%; height: 1px; background-color: #ff512f; }
.desserts .col-md-4{ flex: 0 0 30%; max-width: 30%; }

.dessert-1{ margin-top: 35px; padding: 80px 30px; color: #fff; background: url(../img/dessert1.jpeg); background-size: cover; transition: 0.5s; }
.dessert-2{ margin-top: 35px; padding: 80px 30px; color: #fff; background: url(../img/dessert2.jpeg); background-size: cover; transition: 0.5s; }
.dessert-3{ margin-top: 35px; padding: 80px 30px; color: #fff; background: url(../img/dessert3.jpeg); background-size: cover; transition: 0.5s; }
.dessert-1 .dessert-1-text, .dessert-2 .dessert-2-text, .dessert-3 .dessert-3-text{ opacity: 0; transition: 0.5s; }
.dessert-1:hover{ cursor: pointer; background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/dessert1.jpeg) 50%; }
.dessert-2:hover{ cursor: pointer; background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/dessert2.jpeg) 50%; }
.dessert-3:hover{ cursor: pointer; background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/dessert3.jpeg) 50%; }
.dessert-1:hover > .dessert-1-text, .dessert-2:hover > .dessert-2-text, .dessert-3:hover > .dessert-3-text{ opacity: 1; }

.reservation{ padding: 10px 10px 50px 10px; }
.booking{ padding: 50px 30px; }
.booking h3{ font-size: 26px; font-family: 'Beyond', sans-serif; color: #ff512f; }
.booking h2{ font-size: 30px; font-weight: 600; padding-top: 10px; font-family: 'ZCOOL XiaoWei', sans-serif; text-transform: uppercase; }
.booking .hr9{ width: 10%; height: 1px; background-color: #403b4a; }
.booking input{ width: 100%; padding: 8px 10px; margin-bottom: 10px; border: 1px solid #777; outline: none; }
.booking input:nth-child(1){ margin-top: 20px; }
.booking input::placeholder{ font-size: 16px; font-family: 'Montserrat-UltraLight', sans-serif; }
.booking button{ width: 100%; background-color: #403b4a !important; border-color: #403b4a !important; padding: 10px 0; border-radius: 0; transition: 0.5s; }
.booking button:hover{ cursor: pointer; background-color: #ff512f !important; border-color: #ff512f !important; }

.footer{ background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/background.jpg); color: #999; }
.footer .upper-part img{ width: 250px; }
.footer .upper-part p{ font-size: 17px; font-weight: 500; line-height: 15px; letter-spacing: 0.8px; font-family: 'ZCOOL XiaoWei', sans-serif; }
.footer .upper-part p.change-color{ color: #ff512f; }

.footer .middle-part{ padding: 10px 0; }
.footer .middle-part a i{ font-size: 17px; border: 1px solid #999; padding: 7px; border-radius: 50%; margin-left: 15px; color: #fff; transition: 0.3s; }
.footer .middle-part .fa-facebook-f{ padding: 7px 12px; }
.footer .middle-part .fa-instagram{ padding: 7px 9px; }
.footer .middle-part a i:hover{ color: #ff512f; border-color: #ff512f; }
.footer .hr10{ width: 100%; height: 0.4px; background-color: #999; }

.footer .copyright p{ font-size: 16px; padding: 10px 15px; }
.footer .bottom-list ul{ list-style: none; padding: 10px 15px; float: right; }
.footer .bottom-list ul li{ display: inline-block; padding-left: 25px; }
.footer .bottom-list ul li:nth-child(5){ padding-right: 50px; }
.footer .bottom-list ul li a{ color: #999; text-transform: uppercase; text-decoration: none; transition: 0.5s; }
.footer .bottom-list ul li a:hover{ color: #ff512f; }